@import "../../utilities/named_variables.scss";

.component {
  display: flex;
  align-items: center;
  flex-direction: row;

  .headshot {
    width: 30%;
    max-width: 400px;
    margin-right: 2rem;
    img {
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .bio {
    color: $black;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 300;
    width: 70%;

    a {
      color: orangered;
    }
  }

  @media (max-width: 900px) {
    flex-direction: column;

    .headshot {
      width: auto;
      max-width: 250px;
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }
}
