@import "../utilities/named_variables.scss";

* {
  box-sizing: border-box;
}

body {
  background: $green;
  font-family: "Roboto", sans-serif;
}
strong {
  font-weight: bold;
}

h2 {
  font-size: 2rem;
}
