@import "../../utilities/named_variables.scss";

.component {
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    text-align: center;
    margin-bottom: 2rem;
  }

  .success_message {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  form {
    width: 75%;

    .error {
      color: $error;
      font-weight: normal;
      margin-left: 1rem;
      font-size: 0.875rem;
    }

    .label_container {
      display: flex;
      align-items: baseline;
    }

    label {
      width: 100%;
      font-weight: bold;

      .input {
        display: block;
        width: 100%;
        background: $white;
        border: 1px solid $black;
        border-radius: 5px;
        height: 2rem;
        font-size: 1.125rem;
        margin-top: 0.25rem;
        margin-bottom: 1rem;

        &.message {
          height: 6rem;
          resize: none;
        }

        &:active,
        &:focus,
        &:focus-visible {
          border-color: darken($orange, 10%);
          outline: none;
        }
      }
    }
    .submit {
      border-radius: 5px;
      border: none;
      font-family: "Roboto";
      background: $orange;
      color: white;
      font-size: 1.125rem;
      padding: 0.5rem 1rem;
      transition: background 200ms;

      &:hover,
      &:focus {
        cursor: pointer;
        background: #f78425;
      }

      &:active {
        background: darken($orange, 10%);
      }
    }
  }

  @media (max-width: 900px) {
    form {
      width: 100%;
    }
  }
}
