@import "../../utilities/named_variables.scss";

.component {
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    text-align: center;
    margin-bottom: 2rem;
  }

  .list {
    position: relative;
    display: flex;
    flex-direction: column;

    .item {
      margin-bottom: 2rem;
      padding-left: 1rem;
      position: relative;
      display: flex;
      align-items: center;

      .icon {
        margin-right: 1rem;
        .point {
          width: 0.75rem;
          height: 0.75rem;
          border-radius: 50%;
          background-color: $orange;
        }
      }
      &:not(:last-of-type)::before {
        content: "";
        position: absolute;
        width: 0.125rem;
        height: calc(100% + 2rem + 0.375rem);
        background-color: $orange;
        top: 50%;
        left: 1.3125rem;
      }

      &:last-of-type::before {
        content: "";
        position: absolute;
        width: 0.125rem;
        height: calc(100% + 2rem - 0.375rem);
        background-color: $orange;
        bottom: 50%;
        left: 1.3125rem;
      }

      .title {
        font-weight: bold;
        margin-bottom: 0.25rem;
        font-size: 1.125rem;
      }

      .description {
        font-size: 1rem;
      }
    }
  }
}
