@import "../../utilities/named_variables.scss";

.component {
  .heading {
    text-align: center;
    margin-bottom: 2rem;
  }

  .list {
    margin-left: 40%;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 0.125rem;
      top: 1rem;
      bottom: 1rem;
      background-color: $orange;
      left: -1.685rem;
    }
    .item {
      margin-bottom: 2rem;
      padding-left: 1rem;
      position: relative;
      .title {
        font-weight: bold;
        margin-bottom: 0.25rem;
        font-size: 1.125rem;
      }
      .description {
        font-size: 1rem;
      }
      &::before {
        content: "";
        position: absolute;
        width: 0.75rem;
        height: 0.75rem;
        background-color: $orange;
        border-radius: 50%;
        left: -2rem;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }
}
