@import "../../utilities/named_variables.scss";

.component {
  .header {
    color: $black;
    margin: 1.5rem auto 2rem;

    text-align: center;
    h2 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 0.25rem;
    }

    p {
      font-size: 2rem;
    }
  }

  & > div {
    width: 75%;
    margin: 0 auto;
  }

  hr {
    border: none;
    height: 1px;
    width: 75%;
    margin: 2rem auto;
    background: $orange;
  }

  .container {
    display: flex;
    justify-content: space-evenly;
    & > div {
      width: 50%;
    }
  }
}
